<%= turbo_stream_from @chatroom, "messages" %>

<div class="container py-5">
  Hello and Welcome to <%= @chatroom.name %>
  <div class="row">
    <div class="col-8">
      <div class="row d-flex justify-content-center">
        <div class="col">

          <div class="card" style="border-radius: 15px;">
            <div
              class="card-header d-flex justify-content-between align-items-center p-3 bg-info text-white border-bottom-0"
              style="border-top-left-radius: 15px; border-top-right-radius: 15px;">
              <i class="fas fa-angle-left"></i>
              <p class="mb-0 fw-bold">Live chat</p>
              <i class="fas fa-times"></i>
            </div>

            <%= turbo_frame_tag "messages" do %>
              <%= render @messages %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
    <div class="col-4">
      <div data-mdb-input-init class="form-outline">
        <%= render "/messages/form", message: Message.new %>
      </div>
    </div>
  </div>
</div>

